/* Import Kanit fonts */

@font-face {
    font-family: 'Superstore-Regular';
    src: url(../fonts/Superstore-Regular.ttf);
}

@font-face {
    font-family: 'Superstore-Bold';
    src: url(../fonts/Superstore-Bold.ttf);
}

@font-face {
    font-family: 'Mitr-Regular';
    src: url(../fonts/Mitr-Regular.ttf);
}

@font-face {
    font-family: 'Mitr-Bold';
    src: url(../fonts/Mitr-Bold.ttf);
}

@font-face {
    font-family: 'Mitr-Light';
    src: url(../fonts/Mitr-Light.ttf);
}

@font-face {
    font-family: 'Prompt-Regular';
    src: url(../fonts/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url(../fonts/Prompt-Bold.ttf);
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url(../fonts/Prompt-Medium.ttf);
}

@font-face {
    font-family: 'DB Heavent Regular';
    src: url('../fonts/DB Heavent Li v3.2.1.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    line-height: normal;
}

@font-face {
    font-family: 'DB Heavent Regular';
    src: url('../fonts/DB Heavent v3.2.1.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    line-height: normal;
}

@font-face {
    font-family: 'DB Heavent';
    src: url('../fonts/DB Heavent Med v3.2.1.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB Heavent';
    src: url('../fonts/DB Heavent Bd v3.2.1.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    font-family: 'DB Heavent', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--black);
    font-size: 20px;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
